* {
  background: linear-gradient(45deg, #F9FF00 0%, #8BD2FF 76%, #C59237 100%);
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.topnav {
  overflow: hidden;
  background-color: #21808d;
}

.topnav a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #21808d;
  color: black;
}

.topnav a.active {
  background-color: #21808d;
  color: white;
}

.topnav .search-container {
  float: right;
}

.topnav input[type=text] {
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  border: none;
}

.topnav .search-container button {
  float: right;
  padding: 6px 10px;
  margin-top: 8px;
  margin-right: 16px;
  background: #21808d;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

.topnav .search-container button:hover {
  background: #21808d;
}
.card {
  position: absolute;
  background: #fdfdfd;
  height: 60%;
  width: 40%;
  border: 8px outset #969292;
  border-radius: 40px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.card-img-top{
  align-self: center;
}
